# Environment variables
.env

# Python cache files
*.pyc
*.pyo
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Other
*.log
*.tmp
*.swp